@inherits LayoutComponentBase
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row w-100 text-center">
        <div class="col-12 mb-4">
            <h1>QuestFlag</h1>
            <p >Infrastructure Management Platform</p>
        </div>
        <div class="col-12">
            @Body
        </div>
        <div class="col-12 mt-5">
            <small>&copy; @DateTime.Now.Year QuestFlag Infrastructure</small>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

